.admin-card {
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border: 2px solid #d1d0d0;
  border-radius: 15px;
}

.customers-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.add-customers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.products-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

