.customers-table {
    margin: 20px;
  }

  .admin-card {
    width:  400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
  }
  
  .logout-button {
    width: 50px;
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  