<div *ngIf="userInfo">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-list>
          <mat-card class="admin-card">
            <h2>Admin Home</h2>
            <p>Welcome {{ userInfo.email }}</p>
            <button mat-raised-button color="warn" class="logout-button" (click)="logout()">Logout</button>
          </mat-card>
          <mat-list-item>
            <button mat-flat-button color="primary" (click)="view('customers')">View Customers</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-flat-button color="primary" (click)="view('addCustomers')">Add Customer</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-flat-button color="primary" (click)="view('addProducts')">Add Product</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-flat-button color="primary" (click)="view('products')">View Products</button>
          </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <div class="customers-table" *ngIf="currentView === 'customers'">
          <viewCustomers [dataSourceCustomers]="dataSourceCustomers"></viewCustomers>
        </div>
        <div class="add-customers-container" *ngIf="currentView === 'addCustomers'">
          <addCustomers></addCustomers>
        </div>
        <div class="add-products-container" *ngIf="currentView === 'addProducts'">
          <addProducts></addProducts>
        </div>
        <div class="products-table" *ngIf="currentView === 'products'">
          <viewProducts [dataSourceProducts]="dataSourceProducts"></viewProducts>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
