.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e2e2;
}

.card {
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


button {
    width: 100%;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.danger-message {
    color: red;
    margin-top: 10px;
}

.back {
    margin-top: 25px;
}