<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h2 class="mat-card-title">REGISTER</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <span>
          <mat-error *ngIf="formControls['email'].hasError('email')" class="custom-error">*Invalid email
            format</mat-error>
        </span>
        <mat-form-field appearance="fill" style="width: 100%; box-sizing: border-box; margin-bottom: 15px;">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required maxlength="40">
        </mat-form-field>
        <span>
          <mat-error *ngIf="formControls['password'].hasError('minlength')">*Password must be at least 6
            characters</mat-error>
        </span>
        <mat-form-field appearance="fill" style="width: 100%; box-sizing: border-box; margin-bottom: 15px;">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password" required minlength="6" maxlength="20">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <i [ngClass]="{'fas fa-eye-slash': hide, 'fa fa-eye': !hide}"></i>
          </button>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" type="submit">Register</button>
        </div>

        <div class="back">
          <a href="login"> <i class="fa-solid fa-arrow-left"></i> </a>
        </div>
        <div class="registration-message" *ngIf="registrationMessage"
          [ngClass]="{'success-message': registrationMessageType === 'success', 'danger-message': registrationMessageType === 'danger'}">
          {{ registrationMessage }}
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>