.mat-elevation-z8 {
    width: auto;
    max-width: 1000px;
    overflow: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

button {
    margin: 2px;
    width: 20%;
}


.success-message {
    color: green;
}

.danger-message {
    color: red;
}

.table-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #6e6d6d;
    border-radius: 5px;
}