<form [formGroup]="newProductForm" (submit)="addProduct()">
    <mat-card class="add-product-card">
        <mat-card-header>
            <mat-card-title class="title">Add New Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-group">
                <div class="form-field-container">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput #inputProductName formControlName="productName" maxlength="50">
                        <mat-hint align="end">{{inputProductName.value.length}}/50</mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-field-container">
                    <mat-form-field>
                      <mat-label>Select Type</mat-label>
                      <mat-select #selectProductType formControlName="productType" disableRipple>
                        <mat-option *ngFor="let productType of productTypes" [value]="productType.type" >
                          {{ productType.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                <div class="form-field-container">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput #inputProductDescription class="inputProductDescription" formControlName="productDescription" maxlength="80"></textarea> 
                        <mat-hint align="end">{{inputProductDescription.value.length}}/80</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-field-container">
                    <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input matInput  type="number" #inputProductPrice formControlName="productPrice" maxlength="30">
                    </mat-form-field>
                </div>
                <div class="form-field-container">
                    <mat-form-field>
                        <mat-label>Quantity</mat-label>
                        <input matInput type="number" #inputProductQuantity formControlName="productQuantity" maxlength="30">
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary" [disabled]="editErrors(inputProductName, inputProductDescription, inputProductPrice, inputProductQuantity, selectProductType)">Add Product</button>
            </mat-card-actions>
            <div class="addProduct-message" *ngIf="addProductMessage"
            [ngClass]="{'success-message': addProductMessageType === 'success', 'danger-message': addProductMessageType === 'danger'}">
            {{ addProductMessage }}
        </div>
        </mat-card-content>
    </mat-card>
</form>