<form [formGroup]="newProductForm" (submit)="addProduct()">
    <mat-card class="add-product-card">
        <mat-card-header>
            <mat-card-title class="title">Add New Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-group">
                <div class="form-field-container">
                    <mat-form-field>
                        <mat-label>Enter Product Name</mat-label>
                        <input matInput #inputProductName formControlName="productName" maxlength="50">
                        <mat-hint align="end">{{inputProductName.value.length}}/50</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-field-container">
                    <mat-form-field>
                        <mat-label>Enter Product Description</mat-label>
                        <textarea matInput #inputProductDescription class="inputProductDescription" formControlName="productDescription" maxlength="80"></textarea> 
                        <mat-hint align="end">{{inputProductDescription.value.length}}/80</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-field-container">
                    <mat-form-field>
                        <mat-label>Enter Product Price</mat-label>
                        <input matInput #inputProductPrice (input)="onPriceInput($event)" formControlName="productPrice" maxlength="30">
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary">Add Product</button>
            </mat-card-actions>
            <div class="addProduct-message" *ngIf="addProductMessage"
            [ngClass]="{'success-message': addProductMessageType === 'success', 'danger-message': addProductMessageType === 'danger'}">
            {{ addProductMessage }}
        </div>
        </mat-card-content>
    </mat-card>
</form>
